.Counter {
    min-height: 100vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: red; */
    /* background: royalblue; */
    /* background-color: aqua; */
    flex: 1;
    background-color: transparent;
    border-radius: 3vw;
    box-shadow: 0 0 3vw rgba(22, 22, 22, 0.856);
    margin-right: 0.5vw;
}

.Timer {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #73C8A9, #373B44);
    border-radius: 3vw;
    box-shadow: 0 0 3vw rgba(22, 22, 22, 0.856);
    margin-left: 0.5vw;

    flex: 1;

}

.Cockpit {
  /*   height: 100vh;
 */    display: flex;
    align-items: center;
    padding: 1vw;
    background: linear-gradient(to left bottom , #1f4037,#99f2c8 );
    /* background: yellow; */
}
.btnDesign{
    font-size: 2vw;
    font-weight: bold;
    width: 24vw;
    border-radius: 5vw;
    border: 0;
    margin: 1vw;
    background:linear-gradient(to top right ,#1f4037,#99f2c8 );
    height: 10vh;
    border-bottom: 0.7vw solid #43C6AC;
    box-shadow:  0 0 2vw rgba(0, 0, 0, 0.623);
cursor: pointer;
}
.threeD {
  color: darkgrey;
  white-space: nowrap;
  
  top:0;
  align-self: center;
  font-size: 5vw;
  padding-top: 2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}


@media only screen and (max-device-width: 600px) and (min-device-width: 300px) {
    .Cockpit {

        display: flex;
        flex-direction: column-reverse;
    }.Timer {
        background: linear-gradient(to bottom,#73C8A9 , #373B44);

    margin-bottom: 2vw;
    }
    .Counter {
        background: linear-gradient(to bottom, #373B44, #73C8A9);
    }
    .threeD {
      
        font-size: 10vw;
    }
    .btnDesign {
        width: 40vw;
        height: 15vh;
        font-size: 3.5vw;
        border-bottom:2vw solid rgb(179, 179, 179);
        -webkit-tap-highlight-color: rgba(0,0,0,0);

    }
}